<div style="background-image: url('assets/background.jpg');">
    <h1 style="text-align: center;">Welcome to college search portal!!</h1>
    <input type="text" id="name" placeholder="Enter you name" name="name" #name>
    <input type="text" id="city" placeholder="Enter your preferred city" name="city" #city><br><br>
    <app-college (childEvent)="College=$event" [parentData]="city"></app-college>
    <ul *ngFor="let colleges of College">
        <li>{{colleges}}</li>
    </ul>
</div>jjkkuguhjfh